html, body {
  height: 100%;
  min-height: 100%;
  background-image: url("https://image.freepik.com/free-photo/cork-board-background-texture_133982-10.jpg");
  background-size: cover;
  font-family: 'Chelsea Market', cursive;
  }

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.navigation {
  background-color: rgba(255,255,255,0.5);
  text-align: right;
  position: sticky;
  top: 0;
  z-index: 1;
}

h1 {
  padding: 10px;
  margin: 0 auto;
  max-width: 80%;
  margin-top: 20px;
  border-radius: 1rem;
}

.post {
  margin: 0 auto;
  max-width: 20rem;
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.posts {
  display: flex;
  flex-wrap: wrap;
}

h3 {
  background: darkgreen;
  color: white;
  padding: 10px;
  margin: 0 auto;
  max-width: 15rem;
  margin-top: 20px;
  border-radius: 1rem;
}
